<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head('Tracks')}"></head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main>
        <ul>
            <li th:each="track : ${tracks}"> 
                <p th:text="${track.id}">Id</p>
                <p th:text="${track.name}">Name</p>
                <p th:text="${track.city}">City</p>
                <p th:text="${track.length}">Length</p>
                <p th:text="${track.fastestTime}">Fastest</p>
                <p th:text="${track.latitude}">Latitude</p>
                <p th:text="${track.longitude}">Longitude</p>
                <p th:text="${track.countryDTO}">Country</p>
            </li>
        </ul>
    </main>
</body>
</html>