<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{fragments/head :: head('Pistas')}"></head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="app-main">
        <section class="page-title-bar">
            <div>
                <div>
                    <h1>Pistas Cadastradas</h1>
                    <p class="subtitle">Gerencie o banco de dados de pistas do sistema</p>
                </div>
            </div>
        </section>

        <section class="dashboard-container">
            <div class="table-responsive table-responsive-lg">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Pista</th>
                            <th>Cidade</th>
                            <th>País</th>
                            <th>Tempo Mais Rápido</th>
                            <th>Tamanho</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="track : ${tracks}">
                            <td class="cell-highlight" th:text="${track.name}">Nome da pista</td>
                            
                            <td class="cell-highlight" th:text="${track.city}">Cidade</td>

                            <td class="cell-align-middle">
                                <div class="cell-with-icon">
                                    <figure class="flag-icon">
                                        <img class="fig-img" th:src="${track.country.flagUrl}" th:alt="${track.country.name}">
                                    </figure>

                                    <p th:text="${track.country.brazilian}">País</p>
                                </div>
                            </td>

                            <td class="cell-highlight" th:text="${track.lapTime}">Tempo Mais Rápido</td>
                            <td class="cell-highlight" th:text="${track.length}">Tamanho</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>