body {
    min-height: 100vh;

    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;

    grid-template-areas: 
    "header"
    "main";

    background-color: var(--secondary-color);
}

header {
    grid-area: header;

    background-color: blue;
}

main {
    grid-area: main;
    
    background-color: var(--secondary-color);
}