<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREATE</title>
</head>
<body>
    <form th:action="@{/drivers/create}" method="post">
        <input type="text" name="name" id="name">
        <input type="number" name="level" id="level">
        
        <label for="country">Country</label>
        <select name="countryId" id="cars">
            <option
                th:each="country : ${countries}"
                th:value="${country.id}"
                th:text="${country.brazilian}">
            </option>
        </select>

        <input type="submit" value="CREATE">
    </form>
</body>
</html>