<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head('Drivers')}"></head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main>
        <div class="drivers-list">
            <div th:each="driver : ${drivers}" class="driver-card">
                <p th:text="${driver.name}">Name</p>
                <p th:text="${driver.level}">Level</p>
                <p th:text="${driver.nationality}">Nationality</p>
            </div>
        </div>
    </main>
</body>
</html>