<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head('Drivers')}"></head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="app-main">
        <section class="page-title-bar">
            <div>
                <div>
                    <h1>Pilotos Cadastrados</h1>
                    <p class="subtitle">Gerencie o banco de dados de pilotos do sistema</p>
                </div>
            </div>

            <a class="btn btn-primary" th:href="@{/drivers/create}">+ CADASTRAR NOVO PILOTO</a>
        </section>

        <section class="dashboard-container">
            <div class="table-responsive">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Piloto</th>
                            <th>Nível / Rank</th>
                            <th>Nacionalidade</th>
                            <th class="text-right">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="driver : ${drivers}">
                            <td class="cell-highlight" th:text="${driver.name}">Nome do Piloto</td>
                            
                            <td>
                                <span class="status-badge" th:text="${driver.level}">Level</span>
                            </td>

                            <td class="cell-align-middle">
                                <div class="cell-with-icon">
                                    <figure class="flag-icon">
                                        <img class="fig-img" th:src="${driver.nationality.flagUrl}" th:alt="${driver.nationality.name}">
                                    </figure>

                                    <p th:text="${driver.nationality.brazilian}">Nacionalidade</p>
                                </div>
                            </td>

                            <td class="text-right">
                                <a class="btn-table btn-edit">Editar</a>
                                <a class="btn-table btn-delete" th:href="@{/drivers/delete(driverId=${driver.id})}">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>