<!DOCTYPE html>
<html lang="pt-BR">
<head th:replace="~{fragments/head :: head('Corridas')}"></head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>

    <main class="app-main">
        <section class="page-title-bar">
            <div>
                <div>
                    <h1>Corridas Cadastradas</h1>
                    <p class="subtitle">Gerencie o banco de dados de corridas do sistema</p>
                </div>
            </div>

            <a class="btn btn-primary" th:href="@{/races/create}">+ CADASTRAR NOVA CORRIDA</a>
        </section>

        <section class="dashboard-container">
            <div class="table-responsive table-responsive-lg">
                <table class="data-table">
                    <thead>
                        <tr>
                            <th>Corrida</th>
                            <th>Data Criada</th>
                            <th>Pista</th>
                            <th>Voltas</th>
                            <th>Quant. de Pilotos</th>
                            <th>Clima</th>
                            <th class="text-right">Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="race : ${races}">
                            <td class="cell-highlight" th:text="${race.name}">Nome da Corrida</td>
                            
                            <td class="cell-highlight" th:text="${#temporals.format(race.dateCreated, 'HH:mm dd/MM/yyyy')}">
                                Data Criada
                            </td>

                            <td class="cell-align-middle">
                                <div class="cell-with-icon">
                                    <figure class="flag-icon">
                                        <img class="fig-img" th:src="${race.track.country.flagUrl}" th:alt="${race.track.country.name}">
                                    </figure>

                                    <p th:text="${race.track.name}">Pista</p>
                                </div>
                            </td>

                            <td class="cell-highlight" th:text="${race.lapsQuantity}">Voltas</td>

                            <td class="cell-highlight" th:text="${race.results.size()}">Quant. de Pilotos</td>

                            <td class="cell-align-middle">
                                <div class="weather-value-wrapper">
                                    <img class="weather-icon"
                                        th:src="@{${race.weather.weatherCondition.getWeatherUrl()}}"
                                        th:alt="${race.weather.weatherCondition.description}">

                                    <span th:text="${race.weather.weatherCondition.description}">
                                        Ensolarado
                                    </span>
                                </div>
                            </td>

                            <td class="text-right">
                                <a class="btn-table btn-edit" th:href="@{'/simulation/' + ${race.id}}">Race</a>
                                <a class="btn-table btn-edit">Editar</a>
                                <a class="btn-table btn-delete" th:href="@{/races/delete(raceId=${race.id})}">Excluir</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </section>
    </main>
</body>
</html>