<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/head :: head('Races')}"></head>
<body>
    <header th:replace="~{fragments/header :: header}"></header>
    
    <main>
        <ul>
            <li th:each="race : ${races}">
                <p th:text="${race.id}">Id</p>
                <p th:text="${race.name}">Name</p>
                <p th:text="${race.dateCreated}">Date Created</p>
                <p th:text="${race.dateStarted}">Date Started</p>
                <p th:text="${race.lapsQuantity}">Laps Quantity</p>
                <p th:text="${race.lapsDone}">Laps Done</p>
                <p th:text="${race.trackDTO.name}">Track Name</p>
                <p th:text="${race.weatherDTO}">City Elevation</p>
                
                <ul>
                    <li th:each="result : ${race.resultsDTO}">
                        <p th:text="${result.id}">Id</p>
                        <p th:text="${result.driver.name}">Driver Name</p>
                    </li>
                </ul>
            </li>
        </ul>
    </main>
</body>
</html>